<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFibonacci" />
            </basicHttpBinding>
        </bindings>
        <client>
          
          <!-- http://localhost:81/Fibonacci.svc -->
          <!-- http://saplatform.cloudapp.net/Fibonacci.svc -->
          
            <endpoint address="http://saplatform.cloudapp.net/Fibonacci.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFibonacci" contract="Fibonacci.IFibonacci" name="BasicHttpBinding_IFibonacci" />
          </client>
    </system.serviceModel>
   <appSettings>
    <add key="TableName" value="result" />
    <add key="DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fibs;AccountKey=xRgp3wyHIKi8kigy2UXVLFjeVDBskUMwjgVbhSLbwmnvJ6/v8NRWN11jAg81UgKjQ5a7H7go/zexI783Y+2aiA==" />
  </appSettings>
</configuration>